:root {
  --color-primary-bg: #7bc3d1;
  --color-secondary-bg: #f6f6f6;
  --color-tertary-bg: #121d1f;
  --color-white-text:#f4f5f6;
  --color-white: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "about" "skills" "portfolio" "hobbies" "background" "contact" "footer"; }

a {
  outline: 0;
  text-decoration: none;
  color: inherit;
  display: inline-block; }

ul {
  list-style: none; }

.container {
  margin-left: 25rem;
  margin-right: 25rem; }

html {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  color: #656c6d; }

body {
  line-height: 1.4;
  background-color: var(--color-white); }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

#about-me {
  grid-area: about; }

#skills {
  grid-area: skills; }

#portfolio {
  grid-area: portfolio; }

#hobbies {
  grid-area: hobbies; }

#background {
  grid-area: background; }

#contatc {
  grid-area: contact; }

footer {
  grid-area: footer; }

.intro {
  color: var(--color-white); }

h1 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 1.1;
  color: inherit; }

header {
  background-color: var(--color-primary-bg);
  position: relative;
  height: 70rem; }

.intro {
  position: absolute;
  top: 46%;
  text-align: left; }
  .intro h1 {
    margin-top: 2rem;
    margin-bottom: 3rem; }
  .intro .name {
    font-weight: 600; }
  .intro .job_name {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 5rem; }
  .intro .btn {
    font-size: 1.8rem;
    padding: 1.3rem 2.3rem;
    border: 1px solid var(--color-white);
    color: var(--color-white); }
    .intro .btn:hover {
      border: 1px solid var(--color-tertary-bg);
      background-color: var(--color-tertary-bg); }

.navbar {
  background-color: var(--color-tertary-bg);
  color: var(--color-white-text); }

.nav {
  display: flex;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .nav__item {
    font-size: 1.4rem; }
    .nav__item:nth-child(1) {
      margin-right: auto; }
    .nav__item:nth-child(1) > a {
      font-weight: 600; }
    .nav__item:not(:nth-child(1)):hover {
      transition: .2s ease-in-out;
      color: var(--color-primary-bg); }
  .nav__link {
    text-transform: uppercase;
    padding: 1.5rem; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

#about-me {
  grid-area: about; }

#skills {
  grid-area: skills; }

#portfolio {
  grid-area: portfolio; }

#hobbies {
  grid-area: hobbies; }

#background {
  grid-area: background; }

#contatc {
  grid-area: contact; }

footer {
  grid-area: footer; }
