:root {
  --color-primary-blue: #7bc3d1;
  --color-secondary-white-light: #fff;
  --color-secondary-white-medium:#f4f5f6;
  --color-secondary-white-dark: #f6f6f6;
  --color-tertiary-black: #121d1f; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "about" "skill" "portfolio" "hobbies" "background" "contact" "footer"; }

a {
  outline: 0;
  text-decoration: none;
  color: inherit;
  display: inline-block; }

ul {
  list-style: none; }

.container {
  margin-left: 33rem;
  margin-right: 33rem; }

section .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 3rem 0; }

section {
  padding: 10rem 0; }

html {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  color: #656c6d; }

body {
  line-height: 1.4;
  background-color: var(--color-secondary-white-light); }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

#about-me {
  grid-area: about; }

#skill {
  grid-area: skill; }

#portfolio {
  grid-area: portfolio; }

#hobbies {
  grid-area: hobbies; }

#background {
  grid-area: background; }

#contatc {
  grid-area: contact; }

footer {
  grid-area: footer; }

.intro {
  color: var(--color-secondary-white-light); }

h1 {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -2px;
  line-height: 1.1;
  color: inherit; }

h2 {
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: 3.4rem;
  text-transform: capitalize; }

.title--black {
  color: var(--color-tertiary-black); }

.title--white {
  color: var(--color-secondary-white-light); }

.u-background-white {
  background-color: var(--color-secondary-white-dark); }

.btn {
  font-size: 1.8rem;
  padding: 1.3rem 2.3rem;
  color: var(--color-secondary-white-light); }
  .btn--default {
    border: 1px solid var(--color-secondary-white-light);
    background-color: transparent; }
    .btn--default:hover {
      border: 1px solid var(--color-tertiary-black);
      background-color: var(--color-tertiary-black); }
  .btn--primary {
    border: 1px solid var(--color-tertiary-black);
    background-color: var(--color-tertiary-black); }
    .btn--primary:hover {
      background-color: var(--color-primary-blue);
      border: 1px solid var(--color-primary-blue); }

.hr {
  height: 4px;
  width: 7rem;
  margin-bottom: 3rem;
  text-align: center;
  border: none;
  display: inline-block; }
  .hr--blue {
    background-color: var(--color-primary-blue); }
  .hr--white {
    background-color: rgba(255, 255, 255, 0.3); }

#about-me {
  background-color: var(--color-secondary-white-medium);
  padding: 10rem 0; }

.about__content {
  width: 59%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about__photo {
  border-radius: 50%;
  height: 20rem;
  width: 20rem; }

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem; }
  .about__text p {
    margin-top: 2rem;
    margin-bottom: 3rem; }
    .about__text p :last-child {
      display: flex; }

.about__icon {
  margin-right: 1rem; }

header {
  background-color: var(--color-primary-blue);
  position: relative;
  height: 70rem; }

.intro {
  position: absolute;
  top: 40%;
  text-align: left; }
  .intro h1 {
    margin-top: 2rem;
    margin-bottom: 3rem; }
  .intro .name {
    font-weight: 600; }
  .intro .job_name {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 4rem; }

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.navbar {
  background-color: var(--color-tertiary-black);
  color: var(--color-secondary-white-medium); }

.nav {
  display: flex;
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .nav__item {
    font-size: 1.4rem; }
    .nav__item:nth-child(1) {
      margin-right: auto; }
    .nav__item:nth-child(1) > a {
      font-weight: 600; }
    .nav__item:not(:nth-child(1)):hover {
      transition: .2s ease-in-out;
      color: var(--color-primary-blue); }
  .nav__link {
    text-transform: uppercase;
    padding: 1.5rem; }

#skill {
  background-color: var(--color-primary-blue); }

.skill__container-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.skill__box-logo {
  width: 33.33%;
  text-align: center; }
  .skill__box-logo:not(:last-child) {
    margin-bottom: 2rem; }

.skill__logo {
  border-radius: 50%;
  width: 15rem;
  height: 15rem; }

.skill__name {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
  line-height: 1.1;
  color: var(--color-secondary-white-light);
  font-weight: 600; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

#about-me {
  grid-area: about; }

#skill {
  grid-area: skill; }

#portfolio {
  grid-area: portfolio; }

#hobbies {
  grid-area: hobbies; }

#background {
  grid-area: background; }

#contatc {
  grid-area: contact; }

footer {
  grid-area: footer; }
