header {
    //background: url(../../img/me.jpg) no-repeat center, linear-gradient(90deg, rgba(86,135,156,1) 0%, rgba(123,195,209,1) 21%, rgba(0,212,255,1) 96%);
    background-color: var(--color-primary-bg);
    position: relative;
    height: 70rem;
} 