.intro {
    position: absolute;
    top: 40%;
    text-align: left;
    @include respond(phone) {
        position: relative;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        text-align: center;
        padding: 10rem 0rem;
    }

    h1 {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .name  {
        font-weight: 600;
    }

    .job_name {
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

}