#navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    background-color: var(--color-tertiary-black);
    color: var(--color-secondary-white-medium);
    
}

.nav {
    display: flex;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include respond(phone) {
        flex-direction: column;
     }
   
    &__name {
        font-weight: 600;
        font-size: 1.4rem;
        margin-right: auto; 
        @include respond(phone) {
            display: flex; 
            align-items: center;
            justify-content: space-between;
            width: 100%;
         }
        
        & > i.fas {
            display: none;
            @include respond(phone) {
               display: block; 
               font-size: 2rem;
               color: var(--color-secondary-white-dark);
            }
        }
    }
    &__items {
        display: flex;
        @include respond(phone) {
            flex-direction: column; 
         }
    } 

    &__item {
        font-size: 1.4rem;
        &:hover{
            transition: .2s ease-in-out;
            color: var(--color-primary-blue)
        }
        @include respond(phone) {
            display: none;
        }
    }
    
    &__link {
        text-transform: uppercase;
        padding: 1.5rem;
        
    }
}


