#navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    background-color: var(--color-tertiary-black);
    color: var(--color-secondary-white-medium);
    
}

.nav {
    display: flex;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    &__item {
        font-size: 1.4rem;
        &:nth-child(1){
            margin-right: auto;
        }
        &:nth-child(1) > a {
            font-weight: 600;
        }
        &:not(:nth-child(1)):hover{
            transition: .2s ease-in-out;
            color: var(--color-primary-blue)
        }
    }
    
    &__link {
        text-transform: uppercase;
        padding: 1.5rem;
        
    }
}

