.btn {
    font-size: 1.8rem;
    padding: 1.3rem 2.3rem;
    color: var(--color-secondary-white-light);

    &--default{
        border: 1px solid var(--color-secondary-white-light);
        background-color: transparent;
            &:hover {
                border: 1px solid var(--color-tertiary-black);
                background-color: var(--color-tertiary-black);
            }
    }

    &--primary {
        border: 1px solid var(--color-tertiary-black);
        background-color: var(--color-tertiary-black);
        &:hover {
            background-color: var(--color-primary-blue);
            border: 1px solid var(--color-primary-blue);
        }
    }

}