:root {
    --color-primary-blue: #7bc3d1;

    --color-secondary-white-light: #fff;
    --color-secondary-white-medium:#f4f5f6;
    --color-secondary-white-dark: #f6f6f6;

    --color-tertiary-black: #121d1f;
}

*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size:62.5%
    
}

body {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "about"
        "skill"
        "portfolio"
        "hobbies"
        "background"
        "contact"
        "footer";
}

a {
    outline: 0;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none; 
}

.container {
    margin-left:$margin-section-big;
    margin-right:$margin-section-big ;

}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 3rem 0;
}

section {
    padding: 10rem 0;
}
