:root {
    --color-primary-blue: #7bc3d1;
    --color-primary-dark:#629ca7;

    --color-secondary-white-light: #fff;
    --color-secondary-white-medium:#f4f5f6;
    --color-secondary-white-dark: #f6f6f6;

    --color-tertiary-light:#656c6d;
    --color-tertiary-medium:#2c3e50;
    --color-tertiary-black: #121d1f;
}

*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size:62.5%;

    @include respond(phone) {
        font-size: 45%;
    }

    
}

body {
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "about"
        "skill"
        "portfolio"
        "hobbies"
        "background"
        "contact"
        "footer";
}

a {
    outline: 0;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none; 
}

.container {
    margin-left:$margin-section-big;
    margin-right:$margin-section-big ;
    @include respond(phone) {
        margin-left: 0;
        margin-right: 0;
        padding: 0 2rem;
    }

}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 3rem 0;
}

section {
    padding: 10rem 0;
    @include respond(phone){
        padding: 8rem 0;       
    }
}

.box-content {
    width: 59%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(phone) {
        width: 100%;
    }
}

form {
    padding: 3rem 0;
}

input,
textarea {
    &:focus,
    &:active {
        outline:none;

    }
}