html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    color:#656c6d ;
}

body {
    line-height: 1.4;
    background-color: var(--color-secondary-white-light);
}

header{
    grid-area: header;
}

nav {
    grid-area: nav;
}

#about-me{
    grid-area: about;
}

#skill {
    grid-area: skill;
}

#portfolio {
    grid-area: portfolio;
}

#hobbies {
    grid-area: hobbies;
}

#background {
    grid-area: background;
}

#contatc {
    grid-area: contact;
}

footer {
    grid-area: footer;
}

.intro {
    color: var(--color-secondary-white-light);
}

h1 {
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.1;
    color: inherit;
}

h2 {
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    font-size: 3.4rem;
    text-transform: capitalize;
}

h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--color-tertiary-black);
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.title {
    &--black {
        color: var(--color-tertiary-black);
    }
    &--white {
        color: var(--color-secondary-white-light);
    }
}

